name: Check Code

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  format:
    uses: Diaszano/actions/.github/workflows/golang-format.yaml@v1.3.0

  lint:
    needs: format
    uses: Diaszano/actions/.github/workflows/golang-lint.yaml@v1.3.0
