name: Check Code

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  format:
    uses: Diaszano/actions/.github/workflows/golang/formatters/format.yaml@v1.2.0

  lint:
    needs: format
    uses: Diaszano/actions/.github/workflows/golang-linter.yaml@v1.1.0
