name: Check Code

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  format:
    uses: Diaszano/actions/.github/workflows/golang-formatters.yaml@v1.1.0

  lint:
    needs: format
    uses: Diaszano/actions/.github/workflows/golang-linter.yaml@v1.1.0
