name: Check Code

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  format:
    uses: Diaszano/actions/.github/workflows/golang-formatters.yaml@feat/golangci

  lint:
    needs: format
    uses: Diaszano/actions/.github/workflows/golang-linters.yaml@feat/golangci@feat/golangci
