name: Commit Check

on:
  pull_request:
    branches: [main, development]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  commit-check:
    uses: Diaszano/actions/.github/workflows/commit-check.yaml@v1.0.0
    with:
      pr-comments: true
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
