name: Pre-commit Checks

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  pre-commit:
    uses: Diaszano/actions/.github/workflows/golang-pre-commit.yaml@v1.4.0
