name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  release:
    name: Release
    uses: Diaszano/actions/.github/workflows/release.yaml@v1.0.0
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
