name: Go Tests & Coverage

on:
  pull_request:
    branches: [main]
  workflow_dispatch:


jobs:
  test:
    uses: Diaszano/actions/.github/workflows/golang-test.yaml@v1.5.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
